/* changement de la couleur du fond sur toutes les pages*/
body {
    background: #2e2e2e;
    background: radial-gradient(circle,rgba(46, 46, 46, 1) 0%, rgba(0, 0, 0, 1) 100%);
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

h2 {
    color: #D1A54D;
    margin-left: 20px;
}

/*mise en page de la navbar*/
.navbar {
    background-color: #0d0d0d;
    padding: 20px 10px; 
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
}

.navbar h1 {
    color: #D1A54D;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(241,196,15,0.4);
}

#logo {
    width: 70px;
    margin-right: 10px;
}

/*le conteneur des cartes, il gère la disposition en ligne et leur défilement horizontal*/
.card-container {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    overflow-x: hidden;
    padding: 20px;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    scroll-padding: 20px;
}

/*taille des images des affiches des films dans le index.html*/
.card img {
    width: 70%;
    height: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.card img:hover {
    cursor: url("images/cursor.jpg") 16 16, pointer;
}

/*couleur et taille des cartes ainsi que du texte*/
.card {
    flex: 0 0 auto;
    width: 200px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0,5); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card :hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(300,200,20,0.3);
}




