/* changement de la couleur du fond sur toutes les pages*/
body {
    background-color: black;
}

/*le conteneur des cartes, il gère la disposition en ligne et leur défilement horizontal*/
.card-container {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    overflow-x: auto;
    padding: 20px;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    scroll-padding: 20px;
}

/*taille des images des affiches des films dans le index.html*/
img {
    width: 70%;
    height: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 8px;

}

/*couleur et taille des cartes ainsi que du texte*/
.card {
    background-color:  white;
    flex: 0 0 auto;
    width: 200px;
    height: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/*la mise en page des détails des films dans le view.html*/
#card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

